/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 800
*/
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-image: linear-gradient(#858e96, #60696b);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
}
.title {
  font-size: 3vw;
}
.subtitle {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 5vw;
}
.number {
  display: flex;
  justify-content: center;
  font-size: 10vw;
}
